
body{
    font-size: 0.9em;
    font-family:"Raleway-Medium",Verdana, Geneva, Tahoma, sans-serif;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-top: 05%;
    margin-bottom: 05%;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    
}
#cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 1160px;
    flex-direction: column;
    align-content: center;
    font-family: "Raleway-Black",Verdana, Geneva, Tahoma, sans-serif;
    grid-template-columns:repeat(3,300px);
    font-size: 0.9em;
    
}
/*en tete*/
.header{
    grid-column: 1/span 3;
    background-color: #782221;
    display: block;
    flex-direction: column;
    font-family:"Lato-Bold",Verdana, Geneva, Tahoma, sans-serif;
    color: white; 
    width: 1160px;
    position: relative;
}
.figure{
    width: 1160px;
    height: 300px;
    
}
.image :hover{
    cursor: zoom-in;
}

img{
    width: 150px;
    max-width: min-content;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 0 10px black;
   
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
/*en tete partie 2*/
.contact{
    display: flex;
    height: 80px;
    background-color:#2c1d27;
    grid-column: 1/span 3;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    font-family:"Raleway-Medium", Geneva, Tahoma, sans-serif;
    padding-top:20px ;
    width: 1100px;
    font-style: italic;
    
    
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/*partie gauche*/
.left-column{
    font-family:"Raleway-Medium", Geneva, Tahoma, sans-serif;
    background-color: #782221;
    color: white;
    grid-column: 1;
    display: block;
    text-align: left;
    padding-right: 15px;
    width: 285px;
    height: 950px;
    padding-left: 15px;
    

}
h3{
    background-color: #dbc2a4;
    color: black;
    font-family:"Lato-regular",Verdana, Geneva, Tahoma, sans-serif ;
    text-indent: 30px;
    background: linear-gradient(to right,#782221 1%, #dbc2a4 1%);
    background-size: contain;
    
}
.left-column__about{
    text-indent: 10px;
    
    
}
.left-column__language{
    text-align: left;
}
/*partie droite*/
.main{
    grid-column: 2/span 2;
    flex-direction: column;
    display: flex;
    padding-left: 30px;
    width: 870px;
    height: 1020px;
    padding-right: 30px;
    block-size: 950px ;
    font-family:"Raleway-Medium", Geneva, Tahoma, sans-serif;
    
    }
.main__work{
    width: 810px;
    min-height: 500px;
}
.main__diplomes{
    
    width: 810px;
     
    
}
.main__skills{
    width: 810px;
     
}
.scroll{
    scrollbar-color: #782221 #782221;
    overflow: hidden;
}
.scroll:hover{
    overflow-y: scroll;
}


/*bas de page*/
.footer{
    display: flex;
    height: 80px;
    background-color:#782221;
    grid-column: 2/span 3;
    padding-left: 15px;
    padding-right: 15px;
    width: 1130px;
    font-family:"Raleway-Medium", Geneva, Tahoma, sans-serif;
    padding-top:15px; 
    justify-content: center;

}    
.linkedin{
  width: 50px; 
  
  
}
.github{
    width: 50px;  
      
}
.twitter{
    width: 50px;  
    
}
.twitter :hover{
    opacity: 75%;
} 

.linkedin :hover{
    opacity:75%;
}

.github{
    opacity:75%;
}    


    
